@import url("https://fonts.googleapis.com/css?family=Ubuntu|Lato|Teko");
* {
  box-sizing: border-box; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fff;
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  color: #333333; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: inherit; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.site-header__container, .welcome__container, .about__container, .skills__container, .portfolio__container, .contact__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px; }

#hamburger {
  z-index: 2;
  display: inline-block;
  cursor: pointer; }
  #hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #5a5aff;
    display: block;
    margin: 6px auto;
    transition: all 0.3s ease-in-out; }

#hamburger.is-active .line:nth-child(2) {
  opacity: 0; }
#hamburger.is-active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg); }
#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg); }

.site-header {
  height: 60px;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 1px #333333; }
  .site-header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }

.menu {
  margin: 0;
  padding: 0;
  bottom: 100%;
  left: 0;
  background: rgba(53, 53, 53, 0.9);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  transition: 0.4s; }
  .menu--active {
    bottom: calc( -100vh + 60px); }
  .menu__item {
    list-style-type: none; }
    .menu__item:first-of-type {
      margin-top: 60px; }
  .menu__link {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 1.8em;
    width: 100%;
    text-align: center;
    padding: 10px 0; }
    .menu__link:hover {
      background: #5a5aff; }

.logo {
  padding: 5px 0;
  z-index: 2;
  cursor: pointer; }
  .logo:hover .logo__image img {
    animation: logo 0.5s; }
  .logo__image {
    display: inline-block;
    max-width: 50px;
    position: relative; }
  .logo__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    font-weight: 600;
    color: #5a5aff; }

.welcome {
  min-height: 300px;
  height: 100vh; }
  .welcome__slogan {
    text-align: center;
    width: 100%; }
  .welcome__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%; }
  .welcome__title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size: 4em;
    font-family: 'Teko', sans-serif; }
    .welcome__title--sub {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.65em;
      color: #5a5aff;
      margin-bottom: 30px; }

.btn {
  border: 1px solid #333333;
  color: #333333;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600; }

.about {
  min-height: 100vh; }
  .about__container {
    min-height: calc(100vh - 64px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .about__photo {
    text-align: center; }
  .about__img {
    border-radius: 3px;
    max-width: 300px;
    filter: grayscale(60%); }
  .about__paragraph, .skill__description {
    line-height: 1.5;
    font-weight: 100; }

.title {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-size: 3em;
  margin: 0;
  width: 100%;
  text-align: center;
  position: relative;
  color: #5a5aff; }
  .title::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 60%;
    background: #5a5aff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.icons {
  text-align: center; }
  .icons--contact {
    margin: 40px 0; }
  .icons__icon {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #333333;
    cursor: pointer;
    position: relative;
    transition: 0.2s; }
    .icons__icon:hover {
      color: #fff;
      background-color: #333333; }
    .icons__icon i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .icons > a {
    display: inline-block;
    width: 40%; }
    .icons > a .icon {
      display: inline-block;
      width: 100%;
      font-size: 8em;
      color: #333333; }
      .icons > a .icon:hover {
        color: #5a5aff; }

.skills {
  min-height: 100vh; }
  .skills__container {
    min-height: calc(100vh - 64px); }

.skill {
  margin: 40px 0;
  display: flex;
  flex-direction: column; }
  .skill__icons {
    display: flex;
    justify-content: space-around; }
    .skill__icons i {
      font-size: 5em; }
  .skill__description {
    text-align: center; }

.portfolio__container {
  padding: 20px 0; }
.portfolio__project {
  padding: 5px;
  margin: 10px 10px;
  box-shadow: 0 0 5px 0 black; }
.portfolio__thumb {
  position: relative; }
  .portfolio__thumb img {
    filter: grayscale(60%); }
.portfolio__description {
  background-color: rgba(90, 90, 255, 0.8);
  overflow: hidden;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px; }
.portfolio__title {
  margin: 5px 0;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center; }

.to-modal {
  display: none; }

.modal {
  overflow: auto;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 5;
  min-height: 100vh;
  width: 100%; }
  .modal__container {
    display: block;
    height: calc(100vh - 20px); }
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background: #333333;
    cursor: pointer; }
  .modal__inside {
    max-width: 500px;
    padding-top: 50px;
    margin: 0 auto;
    font-size: 1.2em;
    position: relative; }
    .modal__inside h3 {
      font-size: 2em;
      margin-top: 0;
      margin-bottom: 10px; }
    .modal__inside a {
      display: inline-block;
      padding: 10px 15px;
      margin-left: 10px;
      margin-bottom: 30px;
      background-color: #5a5aff;
      color: #fff;
      border-radius: 2px;
      transition: 0.2s; }
      .modal__inside a:hover {
        background-color: #333333; }

.contact {
  padding: 40px 0; }

.footer-site {
  background-color: #333333;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 20px; }
  .footer-site p {
    margin: 0; }

@keyframes logo {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
@media (min-width: 769px) {
  .wrapper {
    max-width: 1900px; }

  .site-header__container, .welcome__container, .about__container, .skills__container, .portfolio__container, .contact__container {
    max-width: 1170px; }

  .menu__item {
    margin: 0 auto;
    max-width: 1170px; }

  .welcome__title {
    font-size: 6em; }
    .welcome__title--sub {
      font-size: 2.5em; }

  .about__container {
    flex-direction: row; }
  .about__photo {
    width: 50%; }
  .about__text {
    width: 50%; }
  .about__paragraph, .skill__description {
    font-size: 1.2em; }

  .skill {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    .skill--reverse .skill__icons {
      order: 2; }
    .skill__icons {
      width: 50%; }
    .skill__description {
      width: 50%; }

  .portfolio__container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0 black;
    margin-top: 20px;
    padding: 0; }
  .portfolio__thumb {
    overflow: hidden; }
    .portfolio__thumb:hover .portfolio__description {
      bottom: 0; }
  .portfolio__project {
    width: 50%;
    box-shadow: none;
    margin: 0;
    padding: 0; }
  .portfolio__description {
    transition: 0.2s;
    height: 100%;
    padding-top: 22%;
    bottom: 100%; }
  .portfolio__title {
    width: 100%; }

  .icons--icon {
    margin: 50px 0; }
  .icons > a {
    width: auto;
    margin: 10px; } }
@media (min-width: 993px) {
  .welcome__title {
    font-size: 7em; }
    .welcome__title--sub {
      font-size: 2.9em; }

  .about__paragraph, .skill__description {
    font-size: 1.4em; } }

/*# sourceMappingURL=style.css.map */
