@media(min-width: 769px) {
    .wrapper {
        max-width: 1900px;
    }
    .container {
        max-width: 1170px;
    }
    #hamburger {
        display: none;
    }
    .menu {
        width: auto;
        display: flex;
        &__link {
            padding: 10px 20px;
        }
    }
}